html, body{
    margin: 0;
    padding:0;
}

#main {
    margin: auto;
    width: 60%;
}

button {
    margin: 10px;
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border: 0;
    background-color: rgb(206, 18, 18);
    cursor: pointer;
    border-radius: 30px;
}

ul {
    background: rgb(85, 84, 84);
    padding: 10px;
    list-style: none;
}

.stiloL {
    width: 96%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid rgb(124, 124, 123);
    padding: 10px;
  }