@font-face {
    font-family: Marvel;
    src: url('./fonts/Marvel-Regular.ttf');
    font-weight: bold;
} 

html, body{
    margin: 0;
    padding:0;
}
h5{
    margin: 0;
}
.subTitle {
    width: 100vw;
    height: 20px;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header{
    font-family: Marvel;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1px;
    background: rgb(219, 14, 14);
    height: 100px;
}

body {
	height: 90vh;
	color: #fff;
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 800% 800%;
	animation: Gradient 15s ease infinite;
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

#main {
    margin: auto;
    width: 70%;
}
.panel{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    margin:20px;
}
.search {
    color: rgb(167, 167, 167);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 320px;
    height: 53px;
    background: #ffffff;
    cursor: pointer;
}
#searchInput{
    outline: 0;
    font-size: 20px;
    border: none;
    background-color: transparent;
    border-radius: 30px;
    text-align: center;
}

button {
    outline: 0;
    margin: 10px;
    font-size: 20px;
    color: white;
    padding: 15px 20px;
    border: 0;
    background-color: rgb(10, 68, 175);
    cursor: pointer;
    border-radius: 30px;
}

ul {
    padding: 10px;
    list-style: none;
}

.stiloL {
    width: 80%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(124, 124, 123);
    padding: 10px;
}
.stiloL, img{
    margin-right: 6px;
}

.stiloL:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-bottom: none;
    cursor: pointer;
}

@media screen and (max-width: 770px) {
    html, body{
        overflow-x: hidden; 
    }
    #main {
        margin: auto;
        width: 90%;
    }
    .panel{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: center;
       margin: 6px;
    }
    .search {
        color: rgb(167, 167, 167);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        width: 200px;
        height: 50px;
       cursor: pointer;
    }
    #searchInput{
        outline: 0;
        width: 150px;
        font-size: 12px;
        border: none;
        background-color: transparent;
        border-radius: 30px;
        text-align: center;
    }
     img{
        
        width: 80px;
    }

    button {
        font-size: 15px;
        height: 50px;
        color: white;
        border: 0;
        background-color: rgb(10, 68, 175);
        cursor: pointer;
        border-radius: 30px;
        padding: 5px;
    }
}