nav {
  width: 100%;
  background: #000; }
  nav ul {
    list-style: none;
    padding: 20px 0; }
  nav li {
    color: red;
    margin: 0 20px;
    font-family: "Times New Roman", Times, Serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold; }

a {
  color: #ffa; }
  a hover {
    color: #faf; }

nav {
  background: #254153;
  color: #fff;
  width: 100%;
  font-size: 1.2rem; }

aside {
  width: 300px; }

section {
  font-family: "Lucida Grande";
  font-weight: bold; }

body {
  background: red;
  color: #fff; }

section {
  background: #535386; }
