html,
body,
h1,
h5 {
    margin: 0;
    padding: 0;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

input {
    text-align: center;
    margin: 10px 0px 10px;
}

.obs {
    color: rgb(27, 101, 212);
    font-size: 10px;
    font-style: italic;
    margin: 2px;

}

.header {
    padding: 8px;
    height: 70px;
    width: 100%;
    background: rgb(146, 145, 145);
}

.main {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 60%;
}

.right {
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}

.exerTab {
    min-width: 100px;
    padding: 1px;
    border: rgb(210, 214, 216) solid 2px;
    border-radius: 9px;
    margin: 3px;
}

.exer {
    display: flex;
    padding: 3px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    max-width: 200px;
    border: rgb(210, 214, 216) solid 2px;
    border-radius: 9px;
    margin: 3px;
}

#imgLampada {
    width: 100px;
    cursor: pointer;
}

#imgLampada2 {
    width: 100px;
    cursor: pointer;
}

#verde {
    background: #0e7904;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
}

#vermelho {
    background: #ce1111;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
}

#branco {
    background: #dbdbdb;
    text-align: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
}

#aki,
#aki2 {
    color: #282d72;
    font-size: 12px;
    font-style: italic;
}

@media screen and (max-width: 800px) {
    .main {
        margin: auto;
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .exer {
        max-width: 200px;
    }

    .main {
        margin: auto;
        width: 95%;
        display: flex;
        flex-direction: row;
    }

    .exer {
        width: 100%;
        margin: 8px;
    }
}