.menu {
  margin-top: 0px;
  top: 20px;
  width: 334px;
  height: 91vh;
  background-color:	#282C30;
} 

#menu-bar {
  display: none;
  cursor: pointer;
}

.left{
  transition: all 1s;
  transform: translateX(-330px);
}

#menu-bar:checked~.left {
  transform: translateX(0%);
} 

.dados{
  display: flex;
}

.perfil {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 60px;
  height: 60px;
  padding: 5px;
}
  
.foto {
  border-radius: 100px;
  width: 50px;
  height: 50px;
}

.barra {
  margin-top: 6px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 89%;
  height: 30px;
  background-color: #485057;
  border-radius: 3px;
  padding: 5px;
  color: #797b7e;
  }
  
#txtBusca {
  background-color: transparent;
  font-size: 12px;
  border: transparent;
  height: 20px;
  width: 80%;
}
