
#listPerfil{
    list-style-type: none;
    padding: 0;
    display: ruby-text-container;
    color: #d9ddd9;
}

#itenList {
    height: 50px;
    width: 330px;
    background-color: #282c30;
}
#itenList:hover{
    cursor: pointer;
    background-color: #485057;
    border-left-color:  #38a3d1;
    width: 325px;
    border-left-style: solid;
}